@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-secondary: #1185f2;
  --color-secondary-opacity: rgba(17, 133, 242, 0.1);
  /* neutral */
  --color-neutral-100: #111;
  --color-neutral-50: #888;
  --color-neutral-34: #aeaeae;
  --color-neutral-20: #cfcfcf;
  --color-neutral-12: #e2e2e2;
  --color-neutral-6: #f1f1f1;
  --color-neutral-3: #f8f8f8;
  --color-neutral-0: #ffffff;
  /* primary */
  --color-primary-main: #3b84f1;
  --color-primary-surface: #e7f0fd;
  --color-primary-border: #89b5f7;
  --color-primary-hover: #0968cf;
  /* danger */
  --color-danger-main: #ff3b30;
  --color-danger-surface: #ffebea;
  --color-danger-border: #fda29b;
  --color-danger-hover: #d70b00;
  /* warning */
  --color-warning-main: #f79009;
  --color-warning-surface: #fffaeb;
  --color-warning-border: #fec84b;
  --color-warning-hover: #b54708;
  /* success */
  --color-success-main: #12b76a;
  --color-success-surface: #ebfaee;
  --color-success-border: #6ce9a6;
  --color-success-hover: #027a48;
  /* information */
  --color-kakao: #fae64d;
  --color-green: #34c759;
  --color-yellow: #ffcc00;
  --color-step3: #0033f3;
  --color-step2: #3998ff;
  --color-step1: #4dc8ec;
  /* greyscale */
  --color-grey-0: #ffffff;
  --color-grey-50: #fafafa;
  --color-grey-100: #f2f2f2;
  --color-grey-200: #e6e6e6;
  --color-grey-300: #d4d4d4;
  --color-grey-400: #b3b3b3;
  --color-grey-500: #949494;
  --color-grey-600: #757575;
  --color-grey-700: #525252;
  --color-grey-800: #333333;
  --color-grey-900: #171717;
}
@layer base {
}

@layer components {
  .custom-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--color-primary-main);
    transition: width 0.2s ease-in-out;
  }

  .custom-link:hover::after {
    width: 100%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color: #fff;
      background-color: var(--color-grey-900);
    }
  }
}
